
router-outlet + * {
  display: block !important;
  position: relative;
  z-index: 1;
}


.content {
  display: block;
  position: relative;
  min-height: 100vh;
  padding-top: 70px;
}


.navbar {
  background-color: black !important;
  padding: 10px 15px;
}

.navbar .nav-link {
  color: white !important;
  font-size: 18px;
}

.navbar .nav-link:hover {
  color: #ffcc00 !important;
}

.cart-btn {
  background-color: yellow !important;
  color: black !important;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
}